[Unit]
Description=mastobot-adminsupport
After=network.target

[Service]
Type=simple
User=<specify user here>
ExecStart=/usr/bin/node <path to the index.js of the admin support bot, e.g., /<some path>/mastobot-adminsupport/compiled/index.js>
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target